#block1 {
  position: absolute;
  left: 20px;
  top: 40px;
  height: 400px;
  width: 400px;
  background-color: darkgoldenrod;
  text-align: center;
}

#button1 {
  position: absolute;
  left: 20px;
}

#block2 {
  position: absolute;
  right: 20px;
  top: 40px;
  height: 400px;
  width: 400px;
  background-color: aqua;
  text-align: center;
}

#button2 {
  position: absolute;
  right: 350px;
}

#block3a {
  position: absolute;
  left: 20px;
  top: 600px;
  height: 300px;
  width: 300px;
  background-color: darksalmon;
}

#block3b {
  position: absolute;
  left: 20px;
  top: 920px;
  height: 300px;
  width: 300px;
  background-color: greenyellow;
}

#button3 {
  position: absolute;
  left: 20px;
  top: 570px;
}

#block4 {
  position: absolute;
  right: 20px;
  top: 600px;
  height: 400px;
  width: 400px;
  font-size: 14px;
  background-color: lightskyblue;
}

#button4 {
  position: absolute;
  right: 350px;
  top: 570px;
}
